<!-- CSS -->
<link href="/static/css/myweb.css" rel="stylesheet">
<!-- JS -->
<script src="/static/js/myweb.js"></script>
<nav>
  <ul>
    <li><a href="/" class="nav-item">主页</a></li>
    <li><a href="doc" class="nav-item">文档</a></li>
    <li><a href="about" class="nav-item">关于</a></li>
    <li><a href="contact" class="nav-item">联系</a></li>
    <li><a href="file" class="nav-item">文件</a></li>
    <li style="float: right"><a href="logout" class="nav-item">退出</a></li>
    <li style="float: right"><a href="register" class="nav-item">注册</a></li>
    <li style="float: right"><a href="login" class="nav-item">登录</a></li>
  </ul>
</nav>